.container{
    display: flex;
    flex: row nowrap;
    justify-content: space-around;
    background-color: blue;
    color:white
}
.one{
    flex-basis: 50%;
text-align: left;
margin-left:1%}

 .two{
    flex-basis: 50%;
    text-align: right;
    margin-right: 1%;
    align-self: center;
 }
